body {
  /* Positioning */
  margin-bottom: 150px;

  /* Typography */
  font-family: Verdana, sans-serif;

  /* Visual */
  background-color: #ededed;
}


/* ----DESCRIPTION START---- */
.description-header {
  /* Positioning */
  margin-bottom: 33px;
  font-family: Verdana, sans-serif;

  /* Typography */
  font-size: 40px;
  color: #1d2b68;
}

.description {
  margin-bottom: 33px;
  font-family: Verdana, sans-serif;

  /* Typography */
  font-size: 32px;
  color: #1d2b68;
}

.subtitle{
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: Verdana, sans-serif;
  font-size: 20px;
  text-align:center;
  color: #1d2b68;
}
.paragraph {
  font-family: Verdana, sans-serif;
}

.tableauPlaceholder {
  padding: 35px;
  margin-bottom: 33px;
}

.summaryimage {
  margin-bottom: 33px;
}

.epa_ols {
  margin-bottom: 33px;
}

.ue_ols {
  margin-bottom: 33px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:25px;
  width: 75%;
}

.test{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:25px;
  width: 55%;
}

.box {
  min-height: 50px;
  padding: 20px;
  margin: 10px;
  font-weight: 500;
  color: rgb(14, 13, 13);
}

.white {
  background: #fff;
}

.tableau {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:25px;
  width: 100%;
}

.iframe {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:auto;

}



.dropbtn {
  background-color: #fcfcfc;
  color: #757976;
  padding: 14px 16px;
  font-size: 19px;
  border: none;
  text-align:center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b3b6b5;
  min-width: 160px;
  box-shadow: 0px 16px 32px 0x rgba(0,0,0,0.4);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #f9fdfc;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align:center;
  font-size: 15px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #757976;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color:#b3b6b5; color: rgb(255, 253, 253)}
/* Style the links inside the navigation bar */

.topnav a {
  float: left;
  display: block;
  color: rgb(245, 248, 247);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: gray;
  color: white;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: rgb(249, 252, 251);
  color: rgb(146, 144, 144);
}
/* Right-aligned section inside the top navigation */
.topnav-center {
  float: center;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}